<div class="mt-4">
    <div class="card w-96 bg-error text-black">
        <div class="card-body">
            <h2 class="card-title">Greška!</h2>
            <p>
                E-mail adresa koju ste upisali je već u upotrebi!
            </p>
        </div>
    </div>
</div>