<!DOCTYPE html>
<html>

<head>
    <title>Moja Express aplikacija</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    {{#if user}}
    <div class="flex flex-wrap gap-2 bg-base-200 p-2">
        <div class="flex-1">
            <a href="/competitions" class="btn btn-sm btn-accent">Natjecanja</a>
        </div>
        <div class="flex-none flex justify-end items-baseline gap-2">
            <a href="/users/data" class="btn btn-sm btn-secondary">
            {{user.name}}
            {{#if user.is_admin}}*{{/if}}
            </a>
            <a href="/users/signout" class="btn btn-sm btn-accent">Odjava</a>
        </div>
    </div>
    {{/if}}
    {{{body}}}
</body>

</html>