
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">GREŠKA</h1>
      <p class="pt-3">Dogodila se greška u naslovnic, kontaktirajte administratora</p>
      <p class="pt-3 text-xs text-zinc-800"> ((message))</p>
      <button class="btn btn-primary">Kreni na naslovnicu</button>
    </div>
  </div>
</div>