<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Dobro došli na naslovnicu</h1>
      <p class="py-6">Pritiskom na donji gumb možete se prijaviti u aplikaciju.</p>
      <a class="btn btn-primary" href="/users/signin">Prijava</a>
    </div>
  </div>
</div>