<div class="hero min-h-screen bg-base-200">
    <div class="hero-content">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Prijava korisnika</h1>

            {{#if result.display_form}}
            <form method="post" action="/users/signin">
                <div class="py-6">
                    <div>
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">E-mail adresa</span>
                            </div>
                            <input type="email" name="email" placeholder="Upišite svoju e-mail adresu"
                                class="input input-bordered w-full max-w-xs" required="" />
                        </label>
                    </div>
                    <div>
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Zaporka</span>
                            </div>
                            <input type="password" name="password" placeholder="Upišite svoju zaporku"
                                class="input input-bordered w-full max-w-xs" />
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Potvrdi" />
                <input type="reset" class="btn btn-neutral" value="Poništi" />
            </form>
            {{/if}}

            {{#if result.validation_error}}
            {{> validation_error}}
            {{/if}}

            {{#if result.invalid_credentials}}
            <div class="mt-4">
                <div class="card w-96 bg-error text-black">
                    <div class="card-body">
                        <h2 class="card-title">Greška!</h2>
                        <p>
                            Dogodila se greška prilikom prijave korisnika, pogrešna e-mail adresa
                            i/ili zaporka.
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}

            {{#if result.success}}
            <div class="mt-4">
                <div class="card w-96 bg-primary text-primary-content">
                    <div class="card-body">
                        <h2 class="card-title">Uspjeh!</h2>
                        <p>
                            Uspješno ste se prijavili, možete nastaviti s radom!
                        </p>
                        <div class="card-actions justify-end">
                            <a class="btn" href="/">Nastavi na naslovnicu</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>